{% extends 'base.html' %}

{% block content %}

<h2>Pets: </h2>

<a href="/add">Add a Pet</a>
<br>
<br>

  {% for pet in pets %}

  <div>
    <img src="{{ pet.photo_url }}" alt="Pet Photo" width="200px">
    <p>
      {% if pet.available %}
        {{ pet.name }} is available!
      {% else %}
        {{ pet.name }} is not available.
      {% endif %}
    </p>
  </div>
  <form action="/{{ pet.id }}">
    <button>
      Edit {{ pet.name }}
    </button>
  </form>
  <br>
  {% endfor %}

{% endblock %}